.fundo_maior{
    background-color: #d7d3c1;
    width: 1000px;
    height: 760px;
}

#fundo_menor{
    background-color: #efede6;
    width: 60%;
    height: 730px;
    margin: 15px;
    display: inline-block;
}

#titulo{
    font-size: 30px;
    color: #797d62;
    font-weight: bold;
    text-align: center;
    background-color: #d7d3c1;
    border-top-left-radius:8px;
    border-top-right-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#imagem{
    width: 100%;
    height: 600px;
}

#foto-ada{
    width: 420px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-rigth: 50px;


}

#texto{
    padding-top: 100px;
    text-align: justify;
    display: inline-block;
    width: 344px;
    height: 450px;
    position: absolute;
}

